<p id="notice"><%= notice %></p>

<h1>Pre Varified Resources</h1>

<table>
  <thead>
    <tr>
      <th>Expert level</th>
      <th>Skill sets</th>
      <th>Years experience</th>
      <th>Designation</th>
      <th>Budget</th>
      <th>Need before</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pre_varified_resources.each do |pre_varified_resource| %>
      <tr>
        <td><%= pre_varified_resource.expert_level %></td>
        <td><%= pre_varified_resource.skill_sets %></td>
        <td><%= pre_varified_resource.years_experience %></td>
        <td><%= pre_varified_resource.designation %></td>
        <td><%= pre_varified_resource.budget %></td>
        <td><%= pre_varified_resource.need_before %></td>
        <td><%= link_to 'Show', pre_varified_resource %></td>
        <td><%= link_to 'Edit', edit_pre_varified_resource_path(pre_varified_resource) %></td>
        <td><%= link_to 'Destroy', pre_varified_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pre Varified Resource', new_pre_varified_resource_path %>
