<p id="notice"><%= notice %></p>

<p>
  <strong>Expert level:</strong>
  <%= @pre_varified_resource.expert_level %>
</p>

<p>
  <strong>Skill sets:</strong>
  <%= @pre_varified_resource.skill_sets %>
</p>

<p>
  <strong>Years experience:</strong>
  <%= @pre_varified_resource.years_experience %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @pre_varified_resource.designation %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @pre_varified_resource.budget %>
</p>

<p>
  <strong>Need before:</strong>
  <%= @pre_varified_resource.need_before %>
</p>

<%= link_to 'Edit', edit_pre_varified_resource_path(@pre_varified_resource) %> |
<%= link_to 'Back', pre_varified_resources_path %>
