<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
  <!-- SIDEBAR - START -->
  <%= render 'layouts/sidebar' %>
  <!--  SIDEBAR - END -->
  <!-- START CONTENT -->
  <section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>
      <div class='col-xs-12'>
        <div class="page-title">
          <div class="pull-left">
            <h1 class="title">Replies</h1> </div>
          <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
              <li>
                <a href="#"><i class="fa fa-home"></i>Home</a>
              </li>
              <li>
                <a href="#">Replies</a>
              </li>
              <li class="active">
                <strong>All Replies</strong>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12">
        <section class="box ">
          <header class="panel_header">
            <h2 class="title pull-left">All Replies</h2>
            <!-- <div class="panel_actions pull-right">
              <%#= link_to '<i class="fa fa-plus"></i> Add Replies'.html_safe, new_reply_path, class: "btn btn-success" %>
            </div> -->
          </header>
          <div class="content-body">
            <div class="row">
              <div class="col-xs-12">
                <!-- ********************************************** -->
                <table id="example" class="display table table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>EXPECTED AMOUNT</th>
                      <th>STATUS</th>
                      <th>ENQUIRY ID</th>
                      <th>ACTIONS</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @replies.each do |reply| %>
                    <tr>
                      <td class="center"><%= reply.id %></td>
                      <td><%= reply.expected_amount %></td>
                      <td><%= reply.status rescue nil%></td>
                      <td>#<%= reply.enquiry.id rescue nil %></td>
                      <td>
                        <%= link_to 'Show', reply, class: "btn btn-info" %>
                        <%= link_to 'Profile', provider_path(reply.provider_id), class: "btn btn-warning" %>
                        <%#= link_to 'Edit', edit_reply_path(reply), class: "btn btn-primary" %>
                        <%#= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                      </td>
                    </tr>
                  <% end %>

                  </tbody>
                </table>
                <!-- ********************************************** -->
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
  <!-- END CONTENT -->
</div>
