
<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">

  <!-- SIDEBAR - START -->
    <%= render 'layouts/sidebar' %>
  <!--  SIDEBAR - END -->
    <!-- START CONTENT -->
<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>

    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Reply Details</h1>                            
						</div>
						<div class="pull-right hidden-xs">
								<ol class="breadcrumb">
										<li>
												<a href="index.html"><i class="fa fa-home"></i>Home</a>
										</li>
										<li>
												<a href="uni-courses.html">Replies</a>
										</li>
										<li class="active">
												<strong>Details</strong>
										</li>
								</ol>
						</div>
        </div>
    </div>
    <div class="clearfix"></div>
    

		<div class="col-lg-12">
			  <table class="table">
<!--
    <thead>
      <tr>
        <th colspan="2">Sumary</th>
      </tr>
    </thead>
-->
    <tbody>
		  <tr>
        <td colspan="2"><strong>Enquiry:</strong> <%= @reply.enquiry.title %></td>
      </tr>
      <tr class="success">
				<td width="30%"><strong>Expected Ammount</strong></td>
        <td><%= @reply.expected_amount %></td>
      </tr>
		  <tr class="primary">
				<td width="30%"><strong>Status</strong></td>
        <td><%= @reply.status rescue "NA" %></td>
      </tr>
      <tr>
				<td colspan="2"><strong>Cover Letter</strong></td>
      </tr>
      <tr class="info">
        <td colspan="2"><%= @reply.cover_letter %></td>
      </tr>
    </tbody>
  </table>
		</div>


    </section>
    </section>
    <!-- END CONTENT -->
   </div>
    <!-- END CONTAINER -->
<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->



