<p id="notice"><%= notice %></p>

<h1>Governments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @governments.each do |government| %>
      <tr>
        <td><%= link_to 'Show', government %></td>
        <td><%= link_to 'Edit', edit_government_path(government) %></td>
        <td><%= link_to 'Destroy', government, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Government', new_government_path %>
