<p id="notice"><%= notice %></p>

<h1>Connecting Services Replies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @connecting_services_replies.each do |connecting_services_reply| %>
      <tr>
        <td><%= link_to 'Show', connecting_services_reply %></td>
        <td><%= link_to 'Edit', edit_connecting_services_reply_path(connecting_services_reply) %></td>
        <td><%= link_to 'Destroy', connecting_services_reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Connecting Services Reply', new_connecting_services_reply_path %>
