<section>
    <div class="second-page-container">
        <div class="block">
            <div class="container">
                <div class="header-for-light">
                    <h1 class="wow fadeInRight animated" data-wow-duration="1s"><span>Checkout</span> Details</h1>
                </div>
                <%= simple_form_for(@booking) do |f| %>
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        <div class="box-border block-form wow fadeInLeft" data-wow-duration="1s">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills  nav-justified">
                                <li class="active" id="addresslink"><a href="#address" ><i class="fa fa-thumb-tack"></i>Billing Address</a></li>
                                <li id="shippinglink"><a href="#shipping"  class="disabled"><i class="fa fa-truck"></i>Shipping Method</a></li>
                                <li id="paymentlink"><a href="#payment" ><i class="fa fa-money"></i>Payment Method</a></li>
                                <li id="reviewlink"><a href="#review" ><i class="fa fa-check"></i>Order Review</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="address">
                                    <br>
                                    <h3>Account & Billing Details</h3>
                                    <hr>
                                    <%= f.simple_fields_for :addresses do |add| %>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputFirstName" class="control-label">Address 1:<span class="text-error">*</span></label>
                                                <div>
                                                    <%= add.input_field :street1 ,class: "form-control"%>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="forCity" class="control-label">City:<span class="text-error">*</span></label>
                                                <div>
                                                    <%= add.input_field :city ,class: "form-control"%>
                                                </div>
                                            </div>
                                           <div class="form-group">
                                                <label for="inputLastName" class="control-label">Mobile:<span class="text-error">*</span></label>
                                                <div>
                                                    <%= add.input_field :mobile ,class: "form-control"%>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="forCountry" class="control-label">Country: <span class="text-error">*</span></label>
                                                <div>
                                                    <%= add.country_select :country, {only: ["IN"]}, { class: 'form-control' }%>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputCompany" class="control-label">Landmark:</label>
                                                <div>
                                                    <%= add.input_field :street2 ,class: "form-control"%>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputAdress1" class="control-label">Pincode: <span class="text-error">*</span></label>
                                                <div>
                                                    <%= add.input_field :pincode ,class: "form-control"%>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="forCity" class="control-label">State:<span class="text-error">*</span></label>
                                                <div>
                                                    <%= add.input_field :state ,class: "form-control"%>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="forCity" class="control-label">Address Type:<span class="text-error">*</span></label>
                                                <div>
                                                    <%= add.input_field :address_type, :as => :select, :collection => Address.address_types.keys.to_a, class: "form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                    <hr>
                                    <a href="#" class="btn-default-1">Back</a>
                                    <button href="#shipping" class="btn-default-1 shipping" id="button-next-valid-address" type="submit">Next</button>
                                </div>
                                <div class="tab-pane" id="shipping">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3>Free</h3>
                                            <hr>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit ollit anim id est laborum.
                                            </p>
                                            <div class="radio">
                                                <label class="color-active">
                                                    <input type="radio" name="shipping_method" id="shipping1" value="0" checked>
                                                    Free
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <a href="#address" class="btn-default-1 address">Back</a>
                                    <a href="#payment" class="btn-default-1 payment">Next</a>
                                </div>
                                <div class="tab-pane" id="payment">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3>Cash On Delivery</h3>
                                            <hr>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit ollit anim id est laborum.
                                            </p>
                                            <div class="radio">
                                                <label class="color-active">
                                                    <input type="radio" name="payment_type" id="payment1" value="0" checked>
                                                    COD
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <a href="#shipping" class="btn-default-1 shipping">Back</a>
                                    <a href="#review" class="btn-default-1 review">Next</a>
                                </div>
                                <div class="tab-pane" id="review">
                                    <br>
                                    <h3>Review</h3>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="cart-table table">
                                                <thead>
                                                    <tr>
                                                        <th class="card_product_image">Photo</th>
                                                        <th class="card_product_name">Name</th>
                                                        <th class="card_product_model">Expertise </th>
                                                        <th class="card_product_model">Start Date</th>
                                                        <th class="card_product_quantity">Time(24hrs)</th>
                                                        <th class="card_product_quantity">Hours</th>
                                                        <th class="card_product_price">Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% @carts.each do |cart| %>
                                                    <tr>
                                                        <td class="card_product_image" data-th="Image">
                                                        <%= image_tag("img/preview/product5-1.jpg", title: "Product Name", alt: "Product Name") %> </td>
                                                        <td class="card_product_name" data-th="Product Name"><a href="#"><%= cart.service_provider.name rescue nil %></a></td>
                                                        <td class="card_product_name" data-th="Product Name"><a href="#"><%= cart.service_provider.domain.name rescue nil %></a></td>
                                                        <td class="card_product_model" data-th="Model"><%= Date.parse(cart.start_date.to_s) rescue nil %></td>
                                                        <td class="card_product_model" data-th="Model">
                                                            <%= cart.reporting_time > 0 ? cart.reporting_time : 'Flexible' %> Hrs
                                                        </td>
                                                        <td class="card_product_quantity" data-th="Quantity">
                                                            <%= cart.hours rescue nil %>
                                                        </td>
                                                        <td class="card_product_price" data-th="Unit Price">
                                                            <%= cart.total_amount rescue nil %>
                                                        </td>
                                                    </tr>
                                                    <% end %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>
                                    <a href="#payment" class="btn-default-1 payment">Back</a>
                                    <%= f.button :submit, "CONFIRM BOOKING", class: "btn-default-1 pull-right" %>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="block-form block-order-total box-border wow fadeInRight" data-wow-duration="1s">
                            <h3><i class="fa fa-dollar"></i>Total</h3>
                            <hr>
                            <ul class="list-unstyled">
                                <li>Items: <strong><%= @carts.count %></strong></li>
                                <li><hr></li>
                                <li><b>Total:</b> <strong><%= @carts.sum(:total_amount) %></strong></li>
                            </ul>
                        </div>
                    </article>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        $("#new_booking").validate({
            rules: {
                "booking[addresses][street1]": {
                    required: true
                },
                "booking[addresses][pincode]": {
                    required: true,
                    minlength: 6,
                    maxlength: 6,
                    number: true
                },
                "booking[addresses][mobile]": {
                    required: true,
                    maxlength: 10,
                    minlength: 10,
                    number: true
                }
            }
        });

        
    });
</script>

<script type="text/javascript">
$('.shipping').on('click', function(e){
    if($("#new_booking").valid()){
        e.preventDefault();
        $('#payment').removeClass('active');
        $('#paymentlink').removeClass('active');
        $('#address').removeClass('active');
        $('#addresslink').removeClass('active');
        $('#shipping').addClass('active');
        $('#shippinglink').addClass('active');
    }
});
$('.address').on('click', function(e){
    e.preventDefault();
    $('#shipping').removeClass('active');
    $('#shippinglink').removeClass('active');
    $('#address').addClass('active');
    $('#addresslink').addClass('active');
});
$('.payment').on('click', function(e){
    e.preventDefault();
    $('#shipping').removeClass('active');
    $('#shippinglink').removeClass('active');
    $('#review').removeClass('active');
    $('#reviewlink').removeClass('active');
    $('#payment').addClass('active');
    $('#paymentlink').addClass('active');
});
$('.review').on('click', function(e){
    e.preventDefault();
    $('#payment').removeClass('active');
    $('#paymentlink').removeClass('active');
    $('#review').addClass('active');
    $('#reviewlink').addClass('active');
});
</script>