<section>
    <div class="second-page-container">
        <div class="block-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">jobs</li>
                    <li class="active">application</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="header-for-light">
                    <h1 class="wow fadeInRight animated" data-wow-duration="1s"><span>JOB APPLICATION</span></h1>
                </div>
                <div class="row">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s">
                        	<%= simple_form_for(@job_application) do |f| %>
								<%= f.error_notification %>
                                <%= f.hidden_field :job_id, :value => @job.id %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="description" class="control-label">Profile:</label>
                                            <div>
                                            <p class="form-control"><%= @sp.name %></p>

                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="description" class="control-label">Headline:</label>
                                            <div>
                                            <p class="form-control"><%= @job.headline %></p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="description" class="control-label">expected_amount:</label>
                                            <div>
                                                <%= f.input_field :expected_amount, class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="description" class="control-label">cover_letter:</label>
                                            <div>
                                            <%= f.input_field :cover_letter, class: "form-control" %>

                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <hr/>
								<%= f.button :submit, 'Apply', class: "btn-default-1" %>
							<% end %>

                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div> 
</section>