<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @office_appointment.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @office_appointment.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @office_appointment.time %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @office_appointment.hours %>
</p>

<p>
  <strong>Payment due:</strong>
  <%= @office_appointment.payment_due %>
</p>

<p>
  <strong>Active:</strong>
  <%= @office_appointment.active %>
</p>

<%= link_to 'Edit', edit_office_appointment_path(@office_appointment) %> |
<%= link_to 'Back', office_appointments_path %>
