<section>
    <div class="second-page-container">
        <div class="block">
            <div class="container">
                <div class="header-for-light">
                    <h1 class="wow fadeInRight animated" data-wow-duration="1s"><span> Shortlisted</span></h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="cart-table table wow fadeInLeft" data-wow-duration="1s">
                            <thead>
                                <tr>
                                    <th class="card_product_image">Picture</th>
                                    <th class="card_product_name">Name</th>
                                    <th class="card_product_model"> Expertise </th>
                                    <th class="card_product_model">Start Date</th>
                                    <th class="card_product_quantity">Time(24 Hrs)</th>
                                    <th class="card_product_quantity">Hours</th>
                                    <th class="card_product_price">Price</th>
                                    <th class="card_product_total">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% total = 0 %>
                                <% @carts.each do |cart| %>
                                    <tr>
                                        <td class="card_product_image" data-th="Image">
                                        <%= image_tag("img/preview/product3.jpg", title: "Product Name", alt: "Product Name") %> </td>
                                        <td class="card_product_name" data-th="Product Name"><a href="#"><%= cart.service_provider.name rescue nil %></a></td>
                                        <td class="card_product_name" data-th="Product Name"><a href="#"><%= cart.service_provider.domain.name rescue nil %></a></td>
                                        <td class="card_product_model" data-th="Model"><%= Date.parse(cart.start_date.to_s) rescue nil %></td>
                                        <td class="card_product_model" data-th="Model">
                                            <%= cart.reporting_time > 0 ? cart.reporting_time : 'Flexible' %> Hrs
                                        </td>
                                        <td class="card_product_quantity" data-th="Quantity">
                                            <%= cart.hours > 0 ? cart.hours : "NA" rescue "NA" %>
                                        </td>
                                        <td class="card_product_price" data-th="Unit Price">
                                       
                                       <i class="fa fa-rupee"></i> <%= cart.total_amount %>
                                       <% total += cart.total_amount %>
                                        </td>
                                        <td>
                                        <%= link_to "", cart_path(cart.id), method: :delete, class: "fa fa-trash-o big-trash-icon" %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  pull-right">
                        <div class="row">
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="block-form block-order-total box-border wow fadeInRight" data-wow-duration="1s">
                                    <h3><i class="fa fa-dollar"></i> Total</h3>
                                    <hr>
                                    <ul class="list-unstyled">
                                        <li><b>Total:</b> <strong>Rs <%= total %></strong></li>
                                    </ul>
                                    <%= link_to "confirm", new_booking_path, class: "btn-default-1 btn-default-mobile-optimized-link" %>
                                </div>
                            </article>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div> 
</section>