<style type="text/css">
    .highlight-home1 {
        color: #fff;
        font-family: cursive;
        font-weight: bolder;
        font-size: xx-large;
    }
    .highlight-home2 {
        color: #eb2c33;
        font-family: -webkit-body;
        font-weight: bolder;
        font-size: -webkit-xxx-large;
    }
    .highlight-home3 {
        color: #1B6B5A;
        font-family: PTSans;
        font-weight: bolder;
        font-size: xx-large;
    }
</style>

<section>
    <div class="revolution-container">
        <div class="revolution">
            <ul class="list-unstyled">  <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                    <!-- MAIN IMAGE -->
                    <%= image_tag('homepage/1.jpg', alt: "slidebg1",  data: { bgfit: "cover", bgposition: "center center", bgrepeat: "no-repeat" })%>
           
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort customout"
                         data-x="20"
                         data-y="160"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="300"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                         <p class="highlight-home1">Welcome Visiter</p>
                        <!-- <img src="/assets/img/preview/slider/1.png" alt=""> -->
                    </div>
                    <div class="tp-caption skewfromrightshort customout"
                         data-x="20"
                         data-y="224"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="500"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                         <p class="highlight-home2">Fixwale.com</p>
                        <!-- <img src="/assets/img/preview/slider/1-2.png" alt=""> -->
                    </div>
                    <div class="tp-caption skewfromrightshort customout"
                         data-x="20"
                         data-y="335"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="700"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                         <p class="highlight-home3">Serving you since 2015</p>
                        <!-- <img src="/assets/img/preview/slider/1-1.png" alt=""> -->
                    </div>
               <!--      <div class="tp-caption customin customout hidden-xs"
                         data-x="20"
                         data-y="430"
                         data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1000"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 2">
                        <a href="#" class="btn-home">Shop All</a>
                    </div>
                    <div class="tp-caption customin customout hidden-xs"
                         data-x="145"
                         data-y="430"
                         data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 2">
                        <a href="#" class="btn-home">Read more</a>
                    </div> -->
                </li>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
                    <!-- MAIN IMAGE -->
                    <%= image_tag('homepage/2.jpg', alt: "slidebg2",  data: { bgfit: "cover", bgposition: "center center", bgrepeat: "no-repeat" })%>
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort customout"
                         data-x="20"
                         data-y="160"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="300"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-endeasing="Power4.easeIn"
                         data-captionhidden="on"
                         style="z-index: 4">
                         <p class="highlight-home1">Hire a Cook Today</p>
                        <!-- <img src="/assets/img/preview/slider/1.png" alt=""> -->
                    </div>
                </li>
            </ul>
            <div class="revolutiontimer"></div>
        </div>
    </div>
</section>

<section>
    <div class="home-category color-scheme-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <article class="home-category-block">
                        <div class="home-category-title">
                            <i class="fa fa-male"></i> <a href="">Household</a> 
                        </div>
                        <div class="home-category-option">
                            <ul class="list-unstyled home-category-list">
                                <li>
                                <%= link_to domain_path(id: 1) do %>
                                    <i class="fa fa-check"></i>South Indian Cook
                                <% end %>
                                </li>
                                <li>
                                <%= link_to domain_path(id: 2) do %>
                                    <i class="fa fa-check"></i>North Indian Cook
                                <% end %>
                                </li>
                                <li>
                                <%= link_to domain_path(id: 3) do %>
                                    <i class="fa fa-check"></i>House Cleaning
                                <% end %>
                                </li>
                                <li>
                                <%= link_to domain_path(id: 4) do %>
                                    <i class="fa fa-check"></i>Ac Repair
                                <% end %>
                                </li>
                                <li>
                                <%= link_to domain_path(id: 5) do %>
                                    <i class="fa fa-check"></i>Electrician
                                <% end %>
                                </li>
                                <li>
                                <%= link_to domain_path(id: 6) do %>
                                    <i class="fa fa-check"></i>Plumber
                                <% end %>
                                </li>
                            </ul>
                        </div>
                    </article>

                </div>
                <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                    <article class="home-category-block">
                        <div class="home-category-title">
                            <i class="fa fa-female"></i> <a href="">Woman</a>
                        </div>
                        <div class="home-category-option">
                            <ul class="list-unstyled home-category-list">
                                <li><a href=""><i class="fa fa-check"></i>Hair Accessories</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Bags and Wallets</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Beauty and Health</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Jeans & Trousers</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Short dresses</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Slippers and Clogs</a></li>
                            </ul>
                            <img class="img-responsive" src="/assets/img/preview/bg-w.jpg" alt="">

                        </div>
                    </article>  
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <article class="home-category-block">
                        <div class="home-category-title">
                            <i class="fa fa-child"></i> <a href="">Child</a>
                        </div>
                        <div class="home-category-option">
                            <ul class="list-unstyled home-category-list">
                                <li><a href=""><i class="fa fa-check"></i>Jeans</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Shirts</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Coats</a></li>
                                <li><a href=""><i class="fa fa-check"></i>T-Shirts</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Trousers</a></li>
                                <li><a href=""><i class="fa fa-check"></i>Sandals</a></li>
                            </ul>
                            <img class="img-responsive" src="/assets/img/preview/bg-w_2.jpg" alt="">
                        </div>
                    </article>  
                </div> -->
            </div>
        </div>
    </div>
</section>