
<%= simple_form_for(@service_provider, html: { class: 'form-horizontal' } ) do |f| %>
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="block-form box-border wow fadeInLeft animated" data-wow-duration="1s">
        <h3><i class="fa fa-user"></i>Personal Information</h3>
        <hr>
          <%= f.error_notification %>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">Service Provider Name:<span class="text-error">*</span></label>
              <%= f.input_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">Description:<span class="text-error">*</span></label>
              <%= f.input_field :description, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label class="control-label">Domain:<span class="text-error">*</span></label>
              <%= f.association :domain, :collection => @domains, label: false, wrapper: false, :include_blank => false, class: 'form-control' %>
            </div>
            <div class="col-sm-4">
              <label class="control-label">Actively Looking For Work:<span class="text-error">*</span></label>
              <%= f.input_field :actively_looking, as: :radio_buttons %>
            </div>
            <div class="col-sm-4">
              <label class="control-label">Notice Period:<span class="text-error">*</span></label>
              <%= f.input_field :notice_period, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">Website:<span class="text-error">*</span></label>
              <%= f.input_field :portfolio_website, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">Lnkedin:<span class="text-error">*</span></label>
               <%= f.input_field :linkedin_url, class: 'form-control' %>
            </div>
          </div>
          <h3>
            <i class="fa fa-home"></i>Address
          </h3>
          <hr>
          <%= f.simple_fields_for :address do |add| %>
          <div class="form-group">
            <div class="col-sm-4">
              <label class="control-label">Street#1:<span class="text-error">*</span></label>
              <%= add.input_field :street1, as: :string ,class: "form-control"%>
            </div>
             <div class="col-sm-4">
              <label class="control-label">Street#2:<span class="text-error">*</span></label>
              <%= add.input_field :street2, as: :string ,class: "form-control"%>
            </div>
             <div class="col-sm-4">
              <label class="control-label">Pincode:<span class="text-error">*</span></label>
              <%= add.input_field :pincode , as: :string ,class: "form-control"%>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label class="control-label">City:<span class="text-error">*</span></label>
              <%= add.input_field :city , as: :string ,class: "form-control"%>
            </div>
             <div class="col-sm-4">
              <label class="control-label">State:<span class="text-error">*</span></label>
              <%= add.input_field :state , as: :string ,class: "form-control"%>
            </div>
             <div class="col-sm-4">
              <label class="control-label">Country<span class="text-error">*</span></label>
              <%= add.input_field :country , as: :string ,class: "form-control"%>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label class="control-label">Telephone 1:<span class="text-error">*</span></label>
              <%= add.input_field :mobile ,class: "form-control"%>
            </div>
             <div class="col-sm-4">
              <label class="control-label">Telephone 2:<span class="text-error">*</span></label>
              <%= add.input_field :telephone ,class: "form-control"%>
            </div>
             <div class="col-sm-4">
              <label class="control-label">Address Type:<span class="text-error">*</span></label>
              <%= add.input_field :address_type, :as => :select, :collection => Address.address_types.keys.to_a, class: "form-control" %>
            </div>
          </div>
          <% end %>
          <h3><i class="fa fa-lock"></i> Skills & Services </h3>
          <hr>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label">Skills:<span class="text-error">*</span></label>
              <%= f.association :skills, as: :select, collection: Skill.all, :include_blank => true, label: false, wrapper: false, input_html: { class: 'chosen-select form-control', multiple: true} %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> I'v read and agreed on <a href="#">Condations</a>
                </label>
              </div>
          </div>
          <div class="form-group">
            <div class="col-sm-9">
            <div class="checkbox">
              <%= f.button :submit, "Save", class: "btn-default-1" %>
              </div>
            </div>
          </div>
      </div>
    </article>
  </div>
<% end %>
           
<script type="text/javascript">
  $(document).ready(function(){
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  });
</script>
