<section>
    <div class="second-page-container">
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-breadcrumb">
                            <ul class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Pages</a></li>
                                <li class="active">Products list</li>
                            </ul>
                        </div>
                        <div class="header-for-light">
                            <h1 class="wow fadeInRight animated" data-wow-duration="1s"> <span>Service providers listing</span> </h1>
                        </div>
                        <% @service_providers.each do |sp| %>
                            <article class="product list">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2 col-md-2 text-center">
                                        <figure class="figure-hover-overlay text-center">                                                                        
                                            <%= link_to '', service_provider_path(sp.id), class: "figure-href" %>
                                                <%= image_tag(sp.picture.avatar_url , class: "img-responsive", alt: "", title: "", :style => "height:252px;width:252px;") rescue image_tag("img/preview/product5-1.jpg", class: "img-responsive", alt: "", title: "") %>
                                        </figure>
                                    </div>
                                    <div class="col-xs-12 col-sm-10 col-md-10">
                                        <div class="product-caption">
                                            <div class="block-name">
                                                <a href="#" class="product-name"><%= sp.name %></a>
                                                <!-- <p class="product-price"><span>$330</span> $320.99</p> -->

                                            </div>

                                            <div class="product-rating">
                                                <div class="stars">
                                                    <%# @rate_avg.times do |t| %>
                                                        <span class="star active"></span>
                                                    <%# end %>
                                                </div>
                                                 <a href="" class="review"><%= sp.comments.count %> Reviews</a> 
                                            </div>
                                            <p class="description">
                                                <%= truncate sp.description, length: 250 %>
                                            </p>
                                            <div class="product-cart">
                                            <%= link_to service_provider_path(sp.id) do %>
                                                <i class="fa fa-info-circle"></i>DETAILS
                                            <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        <% end %>
                        <div class="block-pagination">
                            <ul class="pagination">
                               <%= (will_paginate @service_providers, renderer: BootstrapPagination::Rails) unless @service_providers.blank? %>
                            </ul>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>        

