<p id="notice"><%= notice %></p>

<h1>Staffing Services Pre Varified Resources</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @staffing_services_pre_varified_resources.each do |staffing_services_pre_varified_resource| %>
      <tr>
        <td><%= link_to 'Show', staffing_services_pre_varified_resource %></td>
        <td><%= link_to 'Edit', edit_staffing_services_pre_varified_resource_path(staffing_services_pre_varified_resource) %></td>
        <td><%= link_to 'Destroy', staffing_services_pre_varified_resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staffing Services Pre Varified Resource', new_staffing_services_pre_varified_resource_path %>
