<!-- START CONTAINER -->
<div class="page-container row-fluid container-fluid">
  <!-- SIDEBAR - START -->
  <%= render 'layouts/sidebar' %>
  <!--  SIDEBAR - END -->
  <!-- START CONTENT -->
  <section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>
      <div class='col-xs-12'>
        <div class="page-title">
          <div class="pull-left">
            <h1 class="title">Categories</h1>
          </div>
          <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
              <li>
                <a href="index.html"><i class="fa fa-home"></i>Home</a>
              </li>
              <li>
                <a href="eco-products.html">Categories</a>
              </li>
              <li class="active">
                <strong>All Categories</strong>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12">
        <section class="box nobox ">
          <div class="content-body">
            <div class="row">
              <div class="col-xs-12 col-md-9">
                <div class="input-group primary">
                  <span class="input-group-addon">
                  <span class="arrow"></span>
                  <i class="fa fa-search"></i>
                  </span>
                  <input type="text" class="form-control search-page-input" placeholder="Search Products" value="">
                </div>
                <br>
              </div>
              <div class="col-xs-12 col-md-3">
                <nav class='pull-right'>
                  <!-- 								  <ul class="pager" style="margin:0px;">
                    <li><a href="#"><i class='fa fa-arrow-left icon-xs icon-accent icon-secondary'></i></a></li>
                    <li><a href="#"><i class='fa fa-arrow-right icon-xs icon-accent icon-secondary'></i></a></li>
                    </ul> -->
                  <ul class="pagination pull-right" style="margin:0px;">
                    <%= link_to '<i class="fa fa-plus"></i> Add Category'.html_safe, new_category_path, class: "btn btn-success" %>
                  </ul>
                </nav>
              </div>
              <div class="clearfix"></div>
              <br>
              <div class="col-xs-12 ecommerce_product_search search_data">
                <div class="tab-content vertical col-xs-12 col-md-112 left-aligned">
                  <div class="tab-pane fade in active" id="web-1">
                    <div class="row">
                      <% @categories.each do |category| %>
                      <div class="col-lg-3 col-sm-6 col-md-4 ecommerce_product">
                        <div class="team-member ">
                          <div class="team-img thumb ">
                            <%= image_tag(category.avatar, class: "img-rounded img-responsive") %>
                            <!-- <img class="img-responsive" src="data/eco-products/product-1.jpg" alt=""> -->
                            <div class="overlay">
                              <%= link_to '<i class="fa fa-eye"></i>'.html_safe, category %>
                              <!-- <a href="#"><i class="fa fa-shopping-cart"></i></a> -->
                            </div>
                          </div>
                          <div class="team-info ">
                            <h4><%= category.title %></h4>
                            <span><%= category.description %></span>
                          </div>
                          <p>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  </div>
                  <!-- <div class="tab-pane fade" id="images-1">
                    <p class="col-md-12">Images Search Results</p>
                  </div>
                  <div class="tab-pane fade" id="contacts-1">
                    <p>Contacts Search Results</p>
                  </div>
                  <div class="tab-pane fade" id="projects-1">
                    <p>Projects Search Results</p>
                  </div>
                  <div class="tab-pane fade" id="map-1">
                    <p>Location and Maps Search Results</p>
                  </div>
                  <div class="tab-pane fade" id="videos-1">
                    <p>Videos Search Results</p>
                  </div>
                  <div class="tab-pane fade" id="messages-1">
                    <p>Messages Search Results</p>
                  </div>
                  <div class="tab-pane fade" id="profile-1">
                    <p>Profile Search Results</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
  <!-- END CONTENT -->
</div>
