<!-- START TOPBAR -->
<div class='page-topbar '>
  <div class='logo-area'>
  </div>
  <div class='quick-area'>
    <div class='pull-left'>
      <ul class="info-menu left-links list-inline list-unstyled">
        <li class="sidebar-toggle-wrap">
          <a href="javascript:;" data-toggle="sidebar" class="sidebar_toggle">
          <i class="fa fa-bars"></i>
          </a>
        </li>
        <li class="message-toggle-wrapper">
          <a href="#" data-toggle="dropdown" class="toggle">
          <i class="fa fa-envelope"></i>
          <span class="badge badge-accent">7</span>
          </a>
        </li>
        <li class="hidden-sm hidden-xs searchform">
          <form action="#" method="post">
            <div class="input-group">
              <span class="input-group-addon">
              <i class="fa fa-search"></i>
              </span>
              <input type="text" class="form-control animated fadeIn" placeholder="Search & Enter">
            </div>
            <input type='submit' value="">
          </form>
        </li>
      </ul>
    </div>
    <div class='pull-right'>
      <ul class="info-menu right-links list-inline list-unstyled">
        <li class="profile">
          <% if current_user %>
            <a href="#" data-toggle="dropdown" class="toggle">
              <i class="fa fa-user"></i>
              <%#= image_tag('data/profile/profile.jpg', :alt=>"user-image", :class=>"img-circle img-inline") %>
              <span><%= current_user.full_name() %> <i class="fa fa-angle-down"></i></span>
            </a>
            <ul class="dropdown-menu profile animated fadeIn">
              <li>
                <a href="#help">
                  <i class="fa fa-info"></i> Help
                </a>
              </li>
                <% if !current_user.provider.nil?%>
                  <li>
                    <%= link_to edit_provider_path(current_user.provider.id) do  %>
                      <i class="fa fa-wrench"></i> Settings
                    <% end %>
                  </li>
                  <li>
                    <%= link_to provider_path(current_user.provider.id) do  %>
                      <i class="fa fa-user"></i> Profile
                    <% end %>
                  </li>
                <% end %>
                <li class="last">
                  <%= link_to destroy_user_session_path, method: :delete do  %>
                    <i class="fa fa-lock"></i> Logout
                  <% end %>
                </li>
            </ul>
          <% else %>
            <%= link_to new_user_session_path, :class => "toggle" do %>
              <i class="fa fa-unlock"></i> Login
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END TOPBAR -->
