<!-- SIDEBAR - START -->
<div class="page-sidebar pagescroll">
  <!-- MAIN MENU - START -->
  <div class="page-sidebar-wrapper" id="main-menu-wrapper">
    <!-- USER INFO - START -->
<!--     <div class="profile-info row">
      <div class="profile-image col-xs-4">
        <a href="#">
          <img alt="" src="http://localhost:3000/assets/data/profile/profile.jpg" class="img-responsive img-circle">
        </a>
      </div>
      <div class="profile-details col-xs-8">
        <h3>
                <a href="#">Bijaya Das</a>

                Available statuses: online, idle, busy, away and offline
                <span class="profile-status online"></span>
            </h3>
        <p class="profile-title">Web Developer</p>
      </div>
    </div> -->
    <!-- USER INFO - END -->
    <ul class='wraplist'>
<!--      <li class='menusection'>Main</li>-->
      <li class="">
        <%= link_to root_path do %>
          <i class="fa fa-home"></i>
          <span class="title">Home</span>
        <% end %>
      </li>
      <li class="">
        <a href="javascript:;">
          <i class="fa fa-question"></i>
          <span class="title">My Enquiries</span>
          <span class="arrow "></span><!-- <span class="label label-accent">HOT</span> -->
        </a>
        <ul class="sub-menu">
          <li>
           <%= link_to 'List Enquiries', enquiries_path %>
           <%= link_to 'Add Enquiry', new_enquiry_path %>
         </li>
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <i class="fa fa-reply-all"></i>
          <span class="title">My Replies</span>
          <span class="arrow "></span><!-- <span class="label label-accent">HOT</span> -->
        </a>
        <ul class="sub-menu">
          <li>
           <%= link_to 'List Replies', replies_path %>
           <%#= link_to 'Add', new_reply_path %>
         </li>
        </ul>
      </li>
      <li class="">
        <%= link_to looking_for_work_enquiries_path do %>
          <i class="fa fa-truck"></i>
          <span class="title">Looking For Work</span>
        <% end %>
      </li>
      <% if current_user.service_provider? %>
      <li class="">
        <%= link_to new_provider_path do %>
          <i class="fa fa-wrench"></i>
          <span class="title">Update Profile</span>
        <% end %>
      </li>
      <% end %>
      <% if current_user.admin? %>
      <li class="">
        <a href="javascript:;">
          <i class="fa fa-cogs"></i>
          <span class="title">Providers</span>
          <span class="arrow "></span><!-- <span class="label label-accent">HOT</span> -->
        </a>
        <ul class="sub-menu">
          <li>
           <%= link_to 'Index', providers_path %>
           <%= link_to 'Update Profile', new_provider_path %>
         </li>
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <i class="fa fa-suitcase"></i>
          <span class="title">Skills</span>
          <span class="arrow "></span><!-- <span class="label label-accent">HOT</span> -->
        </a>
        <ul class="sub-menu">
          <li>
           <%= link_to 'Index', skills_path %>
           <%= link_to 'Add', new_skill_path %>
         </li>
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <i class="fa fa-suitcase"></i>
          <span class="title">Categories</span>
          <span class="arrow "></span><!-- <span class="label label-accent">HOT</span> -->
        </a>
        <ul class="sub-menu">
          <li>
           <%= link_to 'Index', categories_path %>
           <%= link_to 'Add', new_category_path %>
         </li>
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <i class="fa fa-suitcase"></i>
          <span class="title">Messages</span>
          <span class="arrow "></span><!-- <span class="label label-accent">HOT</span> -->
        </a>
        <ul class="sub-menu">
          <li>
           <%= link_to 'Index', messages_path %>
           <%= link_to 'Add', new_message_path %>
         </li>
        </ul>
      </li>
      <li class="">
        <a href="javascript:;">
          <i class="fa fa-suitcase"></i>
          <span class="title">Users</span>
          <span class="arrow "></span><!-- <span class="label label-accent">HOT</span> -->
        </a>
        <ul class="sub-menu">
          <li>
           <%= link_to 'Index', users_path %>
           <%= link_to 'Add', new_user_path %>
         </li>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<!--  SIDEBAR - END -->
